body{
   background-color: blanchedalmond;
} 

h2{
    position: fixed;
    top: 50%; 
    width: 100%;
    text-align: center; 
    animation: myMove 2s infinite;
} 


@keyframes myMove {
    0%  {transform: translate(0, 0);} 

    50% {transform: translate(0, 20px); color: #82D53B; font-size: x-large;}  
    

    100% {transform: translate(0, 0);}
}